{% extends "layouts/base.html" %}

{% block title %} Perfil {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .input-group-addon {
        color: #fb002dbf;
        border-color: #fb002dbf;
        border: none
    }

    .input-group-addon:focus {
        outline: 0 !important
    }

    #map {
        height: 400px;
        width: 100%;
    }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row">
        <p>
            <a href="javascript:;" onclick="frmPdv();" data-toggle="tooltip" title="Crear Punto de Venta" class="btn btn-inverse btn-icon btn-circle btn-success" data-original-title="Crear Punto de Venta"><i class="tim-icons icon-pencil"></i></a>
        </p>
    </div>
    <form id="form">
        {% csrf_token %}

        {% for error in errors  %}
        <div class="alert alert-danger mb-4" role="alert">
            <strong>{{ error }}</strong>
        </div>
        {% endfor %}

        <div class="row justify-content-md-center">
            <div class="col-lg-4">
                <!-- <input type="button" value="Cargar" class="form-control btn btn-success" id="form_btn"> -->
            </div>
        </div>
    </form>
    <br>
    <div class="row col-lg-12">
        <div class="table-responsive">
            <table class="table tablesorter table-striped" id="pdvTable">
                <thead class="text-primary">
                    <tr>
                        <th>DEPARTAMENTO</th>
                        <th>MUNICIPIO</th>
                        <th>TIPO</th>
                        <th>NOMBRE</th>
                        <th>DIRECCION</th>
                        <th>RANGO</th>
                        <th>FECHA CREACION</th>
                        <th>CLIENTES</th>
                        <th>VER MAPA</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- MODAL PDV -->
<div class="modal fade in" id="pdvModal" tabindex="-1" role="dialog" aria-labelledby="pdvModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content card">
            <form id="frmPdv" data-parsley-validate="true" onsubmit="return false;">
                <div class="modal-header">
                    <h5 class="card-title" id="pdvModalLabel">Crear PDV</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Departamento</label>
                                    {{ form.id_departamento }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Municipio</label>
                                    <select id="id_municipio" name="id_municipio" class="form-control selectpicker" data-live-search="true" data-style="btn-success" data-parsley-validate="true">
                                        <option selected disabled value="0">Seleccione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Tipo</label>
                                    {{ form.id_tipo_pdv }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Nombre PDV</label>
                                    <input type="text" id="nombre" name="nombre" class="form-control" required data-parsley-validate="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Direccion</label>
                                    <input type="text" id="direccion" name="direccion" class="form-control" onkeyup="geocodeAddress(this.value)" required data-parsley-validate="true">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Rango (metros) </label>
                                    <input type="number" max=1000 min=300 id="rango" name="rango" class="form-control" required data-parsley-validate="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Latitud</label>
                                    <input type="text" id="latitud" name="latitud" class="form-control" required data-parsley-validate="true" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <div class="form-group">
                                    <label>Longitud</label>
                                    <input type="text" id="longitud" name="longitud" class="form-control" required data-parsley-validate="true" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button id="btnCrearPdv" type="submit" class="btn btn-secundary">Generar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    var accion = 1;
    var idPdv = 0;
    var map;
    var geocoder;
    var marker;
    var directionsDisplay;
    
    function datos() {
        $.ajax({
            type: "POST",
            url: "{% url 'get-pdv' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(data) {

                if (data.datos.length < 1) {
                    general.showNotificationOwn('top', 'right', 'success', 'Sin Informacion', 'ATENCION');
                    $(".selectpicker").selectpicker("refresh");
                    frmPdv();
                } else {
                    if ($.fn.dataTable.isDataTable('#pdvTable')) {
                        var myTable = $('#pdvTable').DataTable().clear().rows.add(data.datos).draw();

                    } else {
                        var myTable = $('#pdvTable').DataTable({
                            "language": {
                                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                            },
                            "responsive": true,
                            "dom": 'Bfrtip',
                            "buttons": [{
                                    "extend": 'copyHtml5',
                                    "text": "<i class='tim-icons icon-single-copy-04'></i> Copiar",
                                    "exportOptions": {
                                        "orthogonal": 'export'
                                    }
                                },
                                {
                                    "extend": 'excelHtml5',
                                    "text": "<i class='tim-icons icon-cloud-download-93'></i> Excel",
                                    "exportOptions": {
                                        "orthogonal": 'export'
                                    }
                                },
                                {
                                    "extend": 'pdfHtml5',
                                    "text": "<i class='tim-icons icon-book-bookmark'></i> PDF",
                                    "exportOptions": {
                                        "orthogonal": 'export'  
                                    }
                                }
                            ]
                        }).clear().rows.add(data.datos).draw();
                    }
                    $('#pdvTable').show();
                }
            }
        });

    }

    function frmPdv() {
        initMap();
        $('#pdvModal').modal('show');
    }

    $("#id_departamento").change(function() {
        var id = $(this).val();
        $('#divSensor').hide();
        $("#id_municipio").val('').trigger('change');
        $(".windows8").show();

        $.ajax({
            type: "POST",
            url: "{% url 'get-municipio-xdepartamento' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id': id
            },
            success: function(data) {
                $(".windows8").hide();
                $('#divSensor').show();
                let html_data = '<option  selected disabled value="0">Seleccione</option>';
                data.datos.forEach(function(municipio) {
                    html_data += `<option value="${municipio[0]}">${municipio[1]}</option>`
                });
                $("#id_municipio").html(html_data);
                $("#id_municipio").selectpicker("refresh");
            }
        });

    });

    function initMap() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        var colombia = new google.maps.LatLng(4.667784, -74.057185000000);
        var mapOptions = {
            zoom: 15,
            center: colombia,
            disableDoubleClickZoom: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        directionsDisplay.setMap(map);

        google.maps.event.addListener(map, 'dblclick', function(event) {
            $('#latitud').val(event.latLng.lat());
            $('#longitud').val(event.latLng.lng());
            setMarker(event.latLng);
        });
    }

    function setMarker(location) {
        if (marker) {
            marker.setMap(null);  // Remove the existing marker
        }

        marker = new google.maps.Marker({
            position: location,
            map: map,
            draggable: true
        });

        map.panTo(location);

        google.maps.event.addListener(marker, 'dragend', function(event) {
            $('#latitud').val(this.getPosition().lat());
            $('#longitud').val(this.getPosition().lng());
        });

        google.maps.event.addListener(marker, 'click', function(event) {
            $('#latitud').val(this.getPosition().lat());
            $('#longitud').val(this.getPosition().lng());
        });
    }

    function geocodeAddress(address) {
    }

    
    $('#frmPdv').parsley().on('form:submit', function () {
        setPdv();
    });

    function setPdv() {
        $.ajax({
            type: "POST",
            url: "{% url 'set-pdv' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'frm': JSON.stringify(general.obtenerFrm("frmPdv")),
            },
            success: function(data) {
                general.showNotificationOwn('top', 'center', 'success', 'Atención', 'Punto de Venta Creado');
                datos();
                $('#pdvModal').modal('hide');
            }
        });

    }
    
    $(document).ready(function() {
        $(".selectpicker").selectpicker("refresh");
        datos();
    });
</script>

{% endblock javascripts %}